@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #FFF;
  --basic-black: #000;

  --aqua-haze-a: #F1F5F7;
  --aqua-haze-b: #F2F6F8;
  --catskill-white: #F3F7F9;
  --merino: #F9F5F0;
  --ecru-white: #F7F3EC;
  --silver: #C5C5C5;
  --gallery: #EAEAEA;
  --silver-chalice: #A9A9A9;
  --mercury: #E5E5E5;
  --nobel: #B5B5B5;

  --amaranth: #EE3643;
  --brick-red: #CA2C37;
  --tall-poppy: #BA2732;

  --fiord: #3D546F;
  --pickled-bluewood-a: #32425C;
  --pickled-bluewood-b: #293449;
  --ebony-clay: #212A3A;
  --mirage-a: #1D2739;
  --mirage-b: #161D29;

  --apple-a: #63A63E;
  --apple-b: #5FBB2D;
  --apple-c: #518534;
  --feijoa: #8ED78F;
  --bilbao: #367315;



  --yellow-orange-a: #FFBF47;
  --yellow-orange-b: #FFC047;
  --salomie: #FFDA96;

  --picton-blue: #3BBCE3;
  --light-orchid: #DC91D8;

  --translucent-black-a: rgba(0, 0, 0, 0.0001);
  --translucent-black-b: rgba(0, 0, 0, 0.3);
  --translucent-black-c: rgba(0, 0, 0, 0.15);

  --translucent-white-a: rgba(255, 255, 255, 0.3);
  --translucent-white-b: rgba(255, 255, 255, 0.5);

  --translucent-grey-a: rgb(197, 197, 197, 0.3);
  --translucent-grey-b: rgb(169, 169, 169, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Всем изображениям укажем max-width: 100%, чтобы они не вылезали за пределы своих родительских
элементов, и укажем автоматическую высоту, чтобы изменение размеров было пропорциональным. */
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Это нужно, чтобы при нехватке контента подвал прижимался к нижней части страницы. */
.page {
  height: 100%;
}

.page-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  font: inherit;
  height: 38px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  color: inherit;
}

.red-button {
  font-size: 14px;
  line-height: 38px;
  color: var(--basic-white);
  background-color: var(--amaranth);
}

.red-button:hover {
  background-color: var(--brick-red);
}

.red-button:focus {
  background-color: var(--tall-poppy);
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.section-header {
  background-color: var(--merino);
}

.main-header {
  color: var(--basic-white);
}

.main-header-top-bar {
  background-color: var(--pickled-bluewood-b);
}

.header-top-container {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.main-header-logo {
  background-color: var(--amaranth);
}

.main-header-logo:focus {
  background-color: var(--tall-poppy);
}

.site-search {
  font: inherit;
  background-color: transparent;
  width: 100%;
}

.site-search:focus {
  background-color: var(--basic-white);
}

.order-link {
  background-color: var(--apple-a);
}

.order-link:hover {
  background-color: var(--apple-b);
}

.order-link:focus {
  color: var(--translucent-white-a);
  background-color: var(--apple-a);
}

.main-header-bottom-bar {
  background-color: var(--aqua-haze-a);
}

.header-bottom-container {
  padding-bottom: 60px;
}

.introductory-info {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

.header-contacts {
  justify-self: center;
}

.header-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--amaranth);
}

.header-phone-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--amaranth);
  background-color: var(--catskill-white);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--pickled-bluewood-a);
}

.header-links-wrap li {
  display: inline-block;
}

.login-link, .registration-link, .logout-link {
  background-color: var(--translucent-black-a);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.cabinet-links a {
  font-size: 16px;
  line-height: 18px;
  color: var(--pickled-bluewood-a);
}

.login-link:hover, .registration-link:hover, .cabinet-links a:hover {
  color: var(--amaranth);
}

.login-link:focus, .registration-link:focus, .logout-link:focus, .cabinet-links a:focus {
  color: var(--silver);
}

.main-navigation {
  background-color: var(--pickled-bluewood-a);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.product-categories {
  margin-top: 59px;
}

.categories-list {
  color: var(--basic-white);
}

.category-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.category-button {
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--translucent-white-a);
}

.category-button:hover {
  background-color: var(--translucent-grey-a);
}

.category-button:focus, .category-button:active {
  background-color: var(--translucent-grey-b);
}

.category-item.materials {
  background-color: var(--yellow-orange-a);
}

.category-item.tools {
  background-color: var(--picton-blue);
}

.category-item.technics {
  background-color: var(--light-orchid);
}

.category-item.sales {
  background-color: var(--feijoa);
}

.category-item.delivery {
  background-color: var(--yellow-orange-b);
}

.slider {
  color: var(--basic-white);
  background-color: var(--silver-chalice);
}

.slide-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.section-header .section-title {
  color: var(--pickled-bluewood-a);
}

.popular-products {
  margin-top: 59px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
}

.product-old-price {
  color: var(--silver-chalice);
  text-transform: uppercase;
}

.product-price {
  color: var(--basic-white);
  background-color: var(--amaranth);
  text-transform: uppercase;
}

.popular-manufacturers {
  margin-top: 70px;
  padding-bottom: 70px;
}

.popular-manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services {
  background-color: var(--aqua-haze-a);
}

.services-list {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

.service-item {
  color: var(--basic-white);
  background-color: var(--pickled-bluewood-a);
}

.service-item-active {
  color: var(--pickled-bluewood-a);
  background-color: var(--basic-white);
}

.service-item:not(.service-item-active):hover {
  background-color: var(--pickled-bluewood-b);
}

.main-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.service-info .section-title {
  color: var(--pickled-bluewood-a);
}

.footer-top-bar {
  background-color: var(--pickled-bluewood-a);
}

.footer-logo {
  background-color: var(--amaranth);
}

.footer-contacts {
  color: var(--catskill-white);
}

.footer-phone-link {
  color: inherit;
}

.footer-main-menu a {
  color: var(--aqua-haze-a);
}

.footer-catalog-menu a, .footer-link {
  color: var(--salomie);
}

.footer-main-menu a:hover, .footer-catalog-menu a:hover, .footer-link:hover {
  text-decoration: underline;
}

.footer-main-menu a:focus, .footer-catalog-menu a:focus {
  color: var(--translucent-white-b);
}

.footer-link:focus {
  color: var(--amaranth);
}

.footer-main-menu a:focus, .footer-catalog-menu a:focus, .footer-link:focus {
  text-decoration: none;
}

.footer-bottom-bar {
  background-color: var(--pickled-bluewood-b);
}

.footer-bottom-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-button {
  display: inline-block;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  color: var(--basic-white);
  background-color: var(--ebony-clay);
}

.social-button:hover, .social-button:focus {
  background-color: var(--amaranth);
}

.site-navigation a, .header-top-container a {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--pickled-bluewood-b);
}

.site-navigation a:focus {
  opacity: 0.5;
  background-color: var(--mirage-a);
}

.cart-link:focus {
  color: var(--translucent-white-a);
}

.bookmarks-link:focus {
  color: var(--translucent-white-a);
  background-color: var(--mirage-b);
}

.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a {
  color: inherit;
}

.page-title-container {
  background-color: var(--aqua-haze-b);
}

.filter {
  grid-row: 1/-1;
}

.filter, .sort {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-header, .sort {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--ecru-white);
}

.filter-form legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter-form-slider {
  background-color: var(--ecru-white);
}

.filter-form-input {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--ecru-white);
}

.filter-form-checkbox, .filter-form-radio-button {
  font-size: 15px;
  line-height: 19px;
}

.sort-by label {
  color: var(--translucent-black-b);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--amaranth);
}

.sort-by input:checked + label {
  color: var(--amaranth);
  text-decoration: none;
}

.sort-direction label {
  color: var(--silver);
}

.sort-direction input:checked label {
  color: var(--amaranth);
}

.pagination-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  width: 38px;
  border: 1px solid var(--mercury);
  border-radius: 2px;
}

.pagination-button:hover {
  border-color: var(--silver);
}

.pagination-button:focus {
  border-color: var(--amaranth);
}

.pagination-next-button {
  width: 140px;
}

.about-product {
  background-color: var(--aqua-haze-a);
}

.product-item .button {
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
}

.buy-button {
  color: var(--basic-white);
  background-color: var(--apple-a);
  box-shadow: inset 0px -3px 0px var(--bilbao);
}

.buy-button:hover {
  background-color: var(--apple-b);
}

.buy-button:focus {
  background-color: var(--apple-c);
}

.add-bookmark-button {
  color: var(--pickled-bluewood-a);
  background-color: transparent;
  border: 3px solid var(--apple-a);
}

.add-bookmark-button:hover {
  border-color: var(--pickled-bluewood-a);
}

.add-bookmark-button:focus {
  border-color: var(--pickled-bluewood-a);
  opacity: 0.5;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts {
  justify-self: end;
}

.contacts-wrapper {
  width: 300px;
}

.company-info {
  padding-bottom: 70px;
}

.copyright {
  align-self: center;
}

.footer-social {
  place-self: center;
}

.social-buttons li {
  display: inline-block;
}

.feedback {
  align-self: center;
}

.feedback-wrap {
  display: inline-block;
}

.developer {
  display: inline-block;
  margin-left: 51px;
}

.catalog-columns {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr min-content;
}
