@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Cuprum;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-white: #FFF;
  --basic-black: #000;

  --aqua-haze-a: #F1F5F7;
  --aqua-haze-b: #F2F6F8;
  --catskill-white: #F3F7F9;
  --merino: #F9F5F0;
  --ecru-white: #F7F3EC;
  --silver: #C5C5C5;
  --gallery: #EAEAEA;
  --silver-chalice: #A9A9A9;
  --mercury: #E5E5E5;
  --nobel: #B5B5B5;

  --amaranth: #EE3643;
  --brick-red: #CA2C37;
  --tall-poppy: #BA2732;

  --fiord-a: #3D546F;
  --fiord-b: #405069;
  --pickled-bluewood-a: #32425C;
  --pickled-bluewood-b: #293449;
  --ebony-clay: #212A3A;
  --mirage-a: #1D2739;
  --mirage-b: #161D29;
  --tundora: #444;

  --apple-a: #63A63E;
  --apple-b: #5FBB2D;
  --apple-c: #518534;
  --feijoa: #8ED78F;
  --bilbao: #367315;

  --yellow-orange-a: #FFBF47;
  --yellow-orange-b: #FFC047;
  --salomie: #FFDA96;

  --picton-blue: #3BBCE3;
  --light-orchid: #DC91D8;

  --translucent-black-a: rgba(0, 0, 0, 0.0001);
  --translucent-black-b: rgba(0, 0, 0, 0.3);
  --translucent-black-c: rgba(0, 0, 0, 0.15);
  --translucent-black-d: rgba(0, 0, 0, 0.24);

  --translucent-white-a: rgba(255, 255, 255, 0.3);
  --translucent-white-b: rgba(255, 255, 255, 0.5);

  --translucent-grey-a: rgb(197, 197, 197, 0.3);
  --translucent-grey-b: rgb(169, 169, 169, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Всем изображениям укажем max-width: 100%, чтобы они не вылезали за пределы своих родительских
элементов, и укажем автоматическую высоту, чтобы изменение размеров было пропорциональным. */
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Это нужно, чтобы при нехватке контента подвал прижимался к нижней части страницы. */
.page {
  height: 100%;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  display: inline-block;
  font: inherit;
  height: 38px;
  line-height: 38px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  outline: none;
  color: inherit;
}

.red-button {
  width: 192px;
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--amaranth);
}

.red-button:hover {
  background-color: var(--brick-red);
}

.red-button:focus {
  background-color: var(--tall-poppy);
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 89px;
  margin-bottom: 20px;
  background-color: var(--merino);
}

.section-header .red-button {
  margin-right: 19px;
}

.main-page {
  margin-bottom: 59px;
}

.main-header {
  color: var(--basic-white);
}

.main-header-top-bar {
  background-color: var(--pickled-bluewood-b);
}

.header-top-container {
  position: relative;
}

.header-top-container-inner {
  display: flex;
  margin-left: 220px;
}

.header-top-container-inner form {
  flex-grow: 1;
}

.logo {
  display: block;
  width: 220px;
  text-align: center;
  background-color: var(--amaranth);
  box-shadow: inset 0 -5px var(--translucent-black-d);
}

.main-header .logo {
  position: absolute;
  height: 47px;
  line-height: 47px;
}

.main-header-logo:focus {
  background-color: var(--tall-poppy);
}

.site-search {
  font: inherit;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.site-search:focus {
  background-color: var(--basic-white);
}

.order-link {
  padding: 9px 16px 9px 19px;
  background-color: var(--apple-a);
}

.order-link:hover {
  background-color: var(--apple-b);
}

.order-link:focus {
  color: var(--translucent-white-a);
  background-color: var(--apple-a);
}

.main-header-bottom-bar {
  background-color: var(--aqua-haze-a);
}

.header-bottom-container {
  padding-bottom: 60px;
}

.introductory-info {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  height: 158px;
}

.header-contacts {
  text-align: center;
}

.header-description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 0 30px;
  color: var(--amaranth);
}

.header-phone-link {
  display: block;
  height: 45px;
  padding: 5px 43px 0px 71px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--amaranth);
  background-color: var(--catskill-white);
  border: 3px solid var(--basic-white);
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
  color: var(--pickled-bluewood-a);
}

.user-navigation {
  display: flex;
}

.login-link {
  padding: 0 27px 0 45px;
}

.registration-link {
  padding: 0 24px;
  margin-left: 10px
}

.login-link, .registration-link, .logout-link {
  display: block;
  height: 45px;
  line-height: 45px;
  font-size: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-navigation.authorized {
  flex-direction: column;
}

.logout-link {
  min-width: 210px;
  text-align: center;
  padding: 0 57px 0 56px;
  margin-bottom: 7px;
}

.cabinet-links {
  display: flex;
  justify-content: center;
}

.cabinet-links li {
  position: relative;
}

.cabinet-links li:not(:last-child) {
  padding-right: 24px;
}

.cabinet-links li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  right: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--pickled-bluewood-a);
}

.cabinet-links a {
  font-size: 16px;
  line-height: 18px;
  color: var(--pickled-bluewood-a);
}

.login-link:hover, .registration-link:hover, .cabinet-links a:hover {
  color: var(--amaranth);
}

.login-link:focus, .registration-link:focus, .logout-link:focus, .cabinet-links a:focus {
  color: var(--silver);
}

.main-navigation {
  background-color: var(--pickled-bluewood-a);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.product-categories {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  margin-bottom: 59px;
}

.category {
  height: 123px;
}

.category-title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}

.category-button {
  font-size: 14px;
  color: var(--basic-white);
  background-color: var(--translucent-white-a);
}

.category-button:hover {
  background-color: var(--translucent-grey-a);
}

.category-button:focus, .category-button:active {
  background-color: var(--translucent-grey-b);
}

.category.materials {
  background-color: var(--yellow-orange-a);
}

.category.tools {
  background-color: var(--picton-blue);
}

.category.technics {
  background-color: var(--light-orchid);
}

.category.sales {
  background-color: var(--feijoa);
}

.category.delivery {
  background-color: var(--yellow-orange-b);
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
  color: var(--basic-white);
  background-color: var(--silver-chalice);
}

.slide-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.section-header .section-title {
  font-weight: 400;
  margin-left: 28px;
  color: var(--pickled-bluewood-a);
}

.popular-products {
  margin-bottom: 70px;
}

.products {
  margin-bottom: 48px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-page .product-list {
  grid-template-columns: repeat(3, 1fr);
}

.product-title {
  font-size: 18px;
  line-height: 20px;
}

.product-old-price {
  color: var(--silver-chalice);
  text-transform: uppercase;
}

.product-price {
  color: var(--basic-white);
  background-color: var(--amaranth);
  text-transform: uppercase;
}

.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.services {
  padding: 54px 0;
  background-color: var(--aqua-haze-a);
}

.services h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.services h3 {
  margin-bottom: 30px;
}

.services-inner-container {
  display: flex;
  margin-top: 21px;
}

.services-list {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  width: 240px;
  min-height: 279px;
  padding: 49px 0;
  background-image: url("../img/services-vertical-line.png");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 10px 100%;
}

.service-item {
  position: relative;
  height: 61px;
  line-height: 61px;
  padding: 0 22px;
  color: var(--basic-white);
  background-color: var(--pickled-bluewood-a);
}

.service-item:not(:last-child):not(.service-item-active) {
  margin-bottom: 1px;
}

.service-item:not(.service-item-active) {
  cursor: pointer;
  box-shadow: 0px 1px 0px var(--pickled-bluewood-b), inset 0px 1px 0px var(--fiord-b);
}

.service-item button {
  outline: none;
  border: none;
  color: var(--basic-white);
  background: transparent;
}

.service-item-active button {
  color: var(--pickled-bluewood-a);
}

.service-item-active {
  color: var(--pickled-bluewood-a);
  background-color: var(--basic-white);
}

.service-item:not(.service-item-active):hover {
  background-color: var(--pickled-bluewood-b);
}

.main-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.service-info {
  padding-top: 49px;
  padding-left: 80px;
  flex-grow: 1;
  background-image: url("../img/delivery-service.png");
  background-repeat: no-repeat;
  background-position: right 49px;
}

.service-info .section-title {
  color: var(--pickled-bluewood-a);
}

.footer-top-bar {
  background-color: var(--pickled-bluewood-a);
}

.footer-top-container {
  display: flex;
  padding-bottom: 54px;
}

.main-footer .logo {
  padding-top: 20px;
  padding-bottom: 18px;
}

.footer-contacts {
  color: var(--catskill-white);
}

.footer-contacts p {
  margin: 22px 0;
}

.footer-phone-link {
  color: inherit;
}

.footer-menu-container {
  flex-grow: 1;
}

.footer-menu-container li {
  padding: 0 29px;
}

.footer-menu-container li:last-child {
  padding-right: 0;
}

.footer-menu-container ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer-main-menu {
  margin-top: 37px;
}

.footer-main-menu a {
  color: var(--aqua-haze-a);
}

.footer-catalog-menu {
  margin-top: 34px;
}

.footer-catalog-menu a, .footer-link {
  color: var(--salomie);
}

.footer-main-menu a:hover, .footer-catalog-menu a:hover, .footer-link:hover {
  text-decoration: underline;
}

.footer-main-menu a:focus, .footer-catalog-menu a:focus {
  color: var(--translucent-white-b);
}

.footer-link:focus {
  color: var(--amaranth);
}

.footer-main-menu a:focus, .footer-catalog-menu a:focus, .footer-link:focus {
  text-decoration: none;
}

.footer-bottom-bar {
  background-color: var(--pickled-bluewood-b);
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social-button {
  display: inline-block;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  color: var(--basic-white);
  background-color: var(--ebony-clay);
}

.social-button:hover, .social-button:focus {
  background-color: var(--amaranth);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset 0px -5px 0px var(--pickled-bluewood-b);
}

.site-navigation a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 24px 0 27px;
}

.site-navigation a, .header-top-container a {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--pickled-bluewood-b);
}

.site-navigation a:focus {
  opacity: 0.5;
  background-color: var(--mirage-a);
}

.bookmarks-link {
  padding: 9px 16px 9px 32px;
}

.cart-link {
  padding: 9px 16px 9px 33px;
}

.cart-link:focus {
  color: var(--translucent-white-a);
}

.bookmarks-link:focus {
  color: var(--translucent-white-a);
  background-color: var(--mirage-b);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 59px;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 40px;
}

.breadcrumbs a {
  color: inherit;
  text-transform: uppercase;
}

.page-title-container {
  background-color: var(--aqua-haze-b);
}

.filter {
  width: 220px;
  margin-right: 20px;
  flex-shrink: 0;
}

.right-column {
  flex-grow: 1;
}

.filter, .sort {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.sort h3, .sort-by, .sort-direction {
  display: inline-block;
}

.filter-header, .sort {
  height: 38px;
  padding: 0 18px;
  margin-bottom: 16px;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-title {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  line-height: 38px;
}

.filter-header, .sort {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--ecru-white);
}

.filter-form fieldset, .sort fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.sort-controls-wrap {
  display: flex;
  align-items: center;
}

.filter-form legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 16px;
}

.filter-form-slider {
  height: 80px;
  margin-bottom: 9px;
  background-color: var(--ecru-white);
}

.filter-by-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.filter-form-input {
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  height: 38px;
  background-color: var(--ecru-white);
}

.filter-form-input-separator {
  position: relative;
  top: -1px;
  font-size: 16px;
  color: var(--tundora);
}

.filter-form-checkbox, .filter-form-radio-button {
  font-size: 15px;
  line-height: 19px;
}

.sort-by label {
  color: var(--translucent-black-b);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--amaranth);
}

.sort-by input:checked + label {
  color: var(--amaranth);
  text-decoration: none;
}

.sort-direction label {
  color: var(--silver);
}

.sort-direction input:checked label {
  color: var(--amaranth);
}

.pagination-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  width: 38px;
  border: 1px solid var(--mercury);
  border-radius: 2px;
}

.pagination-button:hover {
  border-color: var(--silver);
}

.pagination-button:focus {
  border-color: var(--amaranth);
}

.pagination-next-button {
  width: 140px;
}

.about-product {
  padding: 64px 0 68px;
  background-color: var(--aqua-haze-a);
}

.about-product .section-title {
  margin-bottom: 25px;
}

.product-item .button {
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
}

.buy-button {
  color: var(--basic-white);
  background-color: var(--apple-a);
  box-shadow: inset 0px -3px 0px var(--bilbao);
}

.buy-button:hover {
  background-color: var(--apple-b);
}

.buy-button:focus {
  background-color: var(--apple-c);
}

.add-bookmark-button {
  color: var(--pickled-bluewood-a);
  background-color: transparent;
  border: 3px solid var(--apple-a);
}

.add-bookmark-button:hover {
  border-color: var(--pickled-bluewood-a);
}

.add-bookmark-button:focus {
  border-color: var(--pickled-bluewood-a);
  opacity: 0.5;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contacts {
  width: 300px;
}

.contacts .button {
  width: 100%;
}

.contacts .main-text {
  margin-bottom: 32px;
}

.about-company {
  width: 460px;
}

.about-company .button {
  width: 220px;
}

.contacts-wrapper {
  width: 300px;
}

.company-info {
  display: flex;
  justify-content: space-between;
  padding: 70px 0;
}

.company-info .section-title {
  margin-bottom: 24px;
}

.transport-companies {
  margin-top: 32px;
  margin-bottom: 1px;
}

.copyright {
  align-self: center;
}

.footer-social {
  place-self: center;
}

.social-buttons {
  margin-left: 35px;
}

.social-buttons li {
  display: inline-block;
}

.feedback {
  align-self: center;
}

.feedback-wrap {
  display: inline-block;
}

.developer {
  display: inline-block;
  margin-left: 51px;
  font-style: normal;
}

.footer-contacts-container {
  flex-shrink: 0;
}

.catalog-columns {
  display: flex;
}

.map {
  width: 300px;
  height: 158px;
  margin-bottom: 25px;
}

.delivery-companies-list {
  margin-bottom: 21px;
}

.delivery-company-item {
  margin-bottom: 12px;
}

.separator {
  height: 1px;
  background-color: var(--silver);
  margin-bottom: 16px;
}

.filter-form .fieldset-manufacturers {
  margin-bottom: 24px;
}

.fieldset-manufacturers label, .fieldset-power-supply label {
  display: block;
}

.filter-form .fieldset-power-supply {
  margin-bottom: 34px;
}

.filter-button {
  width: 100%;
  font-size: 13px;
  background: transparent;
  border: 1px solid var(--mercury);
  cursor: pointer;
}

.product-list-navigation {
  margin-bottom: 59px;
}

.pagination {
  display: flex;
}

.pagination li:not(:first-child) {
  margin-left: 10px;
}
